@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bggImage {
        background-image: url('https://img.freepik.com/free-photo/tropical-green-leaves-background_53876-88891.jpg');
    }

    .bggImageBlack {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlr6woeLljxu6J8w7a3JRrGCOHWEWBUXHZhfNoTBFFyEDImZthNyN9Z0C08e9EpXjAXh4&usqp=CAU');
    }

    .slideImg {
        @apply object-cover rounded-t-2xl;
    }

    .amatic{
        font-family: 'Amatic SC', cursive;
    }

    .amaticBold{
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
    }

    .robotoCondensed{
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    body{
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .title{
        @apply font-bold text-[42px];
        font-family: 'Amatic SC', cursive;
    }

    /* .caveatBold {
        font-family: caveatBold;
    } */
}
