@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'cinzelRegular';
    src: url('../src/fonts/static/Cinzel-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'cinzelBold';
    src: url('../src/fonts/static/Cinzel-Bold.ttf') format('ttf');
}

@layer components {
    .bggImage {
        background-image: url('https://img.freepik.com/free-photo/tropical-green-leaves-background_53876-88891.jpg');
    }

    .bggImageBlack {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlr6woeLljxu6J8w7a3JRrGCOHWEWBUXHZhfNoTBFFyEDImZthNyN9Z0C08e9EpXjAXh4&usqp=CAU');
    }

    /* .swiper {
    height: 165px;
    } */

    .slideImg {
        @apply object-cover rounded-t-2xl;
    }

    body {
        font-family: cinzelRegular;
    }

    .cinzelBold {
        font-family: cinzelBold;
    }
}
